---
interface Props {
  name: string;
  link: string;
}

const { name, link } = Astro.props;
---

<div class="no-spacing">
  <h3 class="no-spacing"><a href={link} target="_blank">{name}</a></h3>
</div>
