---
import { getCollection } from "astro:content";
import UsesItemDisplayer from "./UsesItemDisplayer.astro";

interface Props {
  showSeperators: boolean;
}

const { showSeperators } = Astro.props;

const content = await getCollection("uses");
const visibleContent = content.filter((content) => !content.data.hidden);
---

<section>
  <hr class="hidden" />
  {
    visibleContent.map((content, index) => (
      <>
        {index !== 0 && <div class="top-indent" />}

        <UsesItemDisplayer name={content.data.name} link={content.data.link} />

        {index < visibleContent.length - 1 && showSeperators && (
          <hr class="alt limit-center no-spacing" />
        )}
        {!(index < visibleContent.length - 1) && (
          <>
            <br />
            <br />
          </>
        )}
      </>
    ))
  }
</section>
