---
import Layout from "../../layouts/GamesSectionLayout.astro";

import IndexCallout from "../../components/IndexPage/IndexCallout.astro";
---

<Layout title="home">
  <IndexCallout>
    <span slot="main">
      copper devs <span class="text-gradient">games</span>
    </span>
    <span slot="sub"> I make (hopefully) fun games</span>
  </IndexCallout>
</Layout>
