---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div>
    <h2 style="display: inline-block">
      <a href="/blog">{post.data.title}</a>
    </h2>
    <h3 transition:name="homeheader" style="display: inline-block">
      <a href="/">home</a>
    </h3>
    <h3 transition:name="blogheader" style="display: inline-block">
      <a href="/blog">blog</a>
    </h3>
    <h3 transition:name="projectsheader" style="display: inline-block">
      <a href="/projects">projects</a>
    </h3>
  </div>

  <Content />
</Layout>
