---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";

import FormattedDate from "../../components/FormattedDate.astro";

import { getCollection } from "astro:content";
import NavBar from "../../components/NavBar.astro";

const allPosts = await getCollection("posts");

const posts = allPosts.sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title="blog">
  <NavBar active="blog" />

  <section>
    {
      posts.map(
        (post) =>
          !post.data.hidden && (
            <a href={`/blog/${post.slug}/`}>
              <h4 transition:animate="fade">
                <span class="text-gradient">{post.data.title}</span> -{" "}
                <FormattedDate date={post.data.pubDate} />
              </h4>
            </a>
          )
      )
    }
  </section>
</Layout>
