.callout {
}

.callout .header {
  font-size: 3rem;
  font-weight: 750;
  line-height: 1;
  color: var(--white);
}

.callout .smaller-header {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: var(--lighter-gray);
}

.callout .sub-header {
  color: var(--lighter-gray);
  display: flex;
}

.callout .dog-image {
  transform: translateY(3px);
}

.callout .header .name .dog-image {
  transition: var(--primary-transition);
  opacity: 0%;
}

.callout .header .name:hover .dog-image {
  opacity: 100%;
  border-radius: 25px;
  box-shadow: var(--gray-glow);
}
