.color-black {
  color: var(--black);
}

.color-white {
  color: var(--white);
}

.color-gray {
  color: var(--gray);
}

.color-light-gray {
  color: var(--light-gray);
}

.color-lighter-gray {
  color: var(--lighter-gray);
}

.color-accent-main {
  color: var(--accent-main);
}

.color-accent-secondary {
  color: var(--accent-secondary);
}

.red-glow {
  border-radius: 25px;
  box-shadow: var(--red-glow);
}

.yellow-glow {
  border-radius: 25px;
  box-shadow: var(--yellow-glow);
}

.green-glow {
  border-radius: 25px;
  box-shadow: var(--green-glow);
}

.gray-glow {
  border-radius: 25px;
  box-shadow: var(--gray-glow);
}
