a {
  background: var(--accent-gradient);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  cursor: grab;
  text-decoration: none;

  transition: var(--icon-transition);
  color: var(--white);
}

a:hover {
  background: var(--white);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: var(--text-glow);
  color: var(--white);
}

a:active {
  background: var(--lighter-gray);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: var(--text-glow);
  color: var(--lighter-gray);
}
