a {
  cursor: grab;
  text-decoration: none;
  background: var(--accent-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: var(--icon-transition);
}

a:hover {
  text-shadow: var(--text-glow);
  background: var(--white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--white);
}

a:active {
  text-shadow: var(--text-glow);
  background: var(--lighter-gray);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--lighter-gray);
}
