@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* primary colors */
  --black: rgb(9, 8, 9);
  --white: rgb(253, 247, 250);
  --gray: rgb(20, 19, 23);
  --light-gray: rgb(30, 30, 36);
  --lighter-gray: rgb(86, 85, 90);

  /* accent colors */
  --accent-main: rgb(118, 120, 237);
  --accent-secondary: rgb(129, 228, 218);

  /* transitions */
  --primary-transition: all ease-in-out 0.15s;

  /* gradients */
  --accent-gradient: -webkit-linear-gradient(
    65deg,
    var(--accent-main),
    var(--accent-secondary) 75%
  );
}

html {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  background: var(--gray);
  background-size: 224px;
  height: 100vh;
  /* border: blue 4px solid; */
}

main {
  margin: 0 auto;
  padding: 1rem;
  width: 750px;
  max-width: calc(100% - 2rem);
  color: var(--white);
  font-size: 20px;
  line-height: 1.6;
  cursor: default;
  flex: 1;
  /* flex-grow: 1;
  padding: 20px; */
  /* border: red 4px solid; */
}

.no-spacing {
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 480px) {
  .show-on-desktop {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .hide-on-desktop {
    display: none;
  }
}

h1 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.61em;
  margin-bottom: 0.61em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 600;
}

h2 {
  display: block;
  font-size: 1.17em;
  margin-top: 0.78em;
  margin-bottom: 0.78em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 580;
}

h3 {
  display: block;
  font-size: 1.03em;
  margin-top: 0.89em;
  margin-bottom: 0.89em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 560;
}

h4 {
  display: block;
  font-size: 0.97em;
  margin-top: 1.26em;
  margin-bottom: 1.26em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 540;
}

h5 {
  display: block;
  font-size: 0.99em;
  font-size: 0.83em;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 520;
}

h6 {
  display: block;
  font-size: 0.98em;
  font-size: 0.67em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 500;
}

.content {
  display: flex;
  color: var(--white);
  /* border: green 4px solid; */
}

.sidebar {
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: var(--primary-transition);
  /* border: purple 4px solid; */
  position: sticky;
}

.sidebar * {
  text-decoration: none;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 4px 0;
  font-size: 1em;
  cursor: pointer;
  transition: var(--primary-transition);
}

.menu li:hover {
  color: var(--accent-main);
}

.menu li:active {
  color: var(--accent-secondary);
}

.menu p {
  font-weight: 500;
  color: var(--lighter-gray);
  margin-bottom: 2px;
}

a {
  cursor: pointer;

  transition: var(--primary-transition);
  color: var(--white);
}

a:hover {
  color: var(--accent-main);
}

a:active {
  color: var(--accent-secondary);
}
