@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

:root {
  /* primary colors */
  --black: rgb(9, 8, 9);
  --white: rgb(253, 247, 250);
  --gray: rgb(30, 30, 36);
  --light-gray: rgb(52, 58, 64);

  /* accent colors */
  --accent-main: rgb(118, 120, 237);
  --accent-secondary: rgb(129, 228, 218);

  /* text effects */
  --text-glow: rgba(255, 255, 255, 0.45) 0px 0px 26px;

  /* transitions */
  --primary-transition: all ease-in-out 0.15s;

  /* gradients */
  --accent-gradient: -webkit-linear-gradient(
    65deg,
    var(--accent-main),
    var(--accent-secondary) 75%
  );
}

html {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  background: var(--gray);
  background-size: 224px;
}

main {
  margin: auto;
  padding: 1rem;
  width: 800px;
  max-width: calc(100% - 2rem);
  color: white;
  font-size: 20px;
  line-height: 1.6;
  cursor: default;
  flex: 1;
}