@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* * {
  border: red 1px solid;
} */

:root {
  /* primary colors */
  --black: rgb(9, 8, 9);
  --white: rgb(253, 247, 250);
  --gray: rgb(20, 19, 23);
  --light-gray: rgb(30, 30, 36);
  --lighter-gray: rgb(86, 85, 90);

  /* accent colors */
  --accent-main: rgb(118, 120, 237);
  --accent-secondary: rgb(129, 228, 218);

  /* transitions */
  --primary-transition: all ease-in-out 0.15s;

  /* gradients */
  --accent-gradient: -webkit-linear-gradient(
    65deg,
    var(--accent-main),
    var(--accent-secondary) 75%
  );
}

html {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  background: var(--gray);
  /* border: blue 4px solid; */
}

main {
  margin: 0 auto;
  padding: 1rem;
  width: 750px;
  max-width: calc(100% - 2rem);
  color: var(--white);
  font-size: 20px;
  line-height: 1.6;
  cursor: default;
  flex: 1;
  /* border: red 4px solid; */
}

.no-spacing {
  margin: 0px;
  padding: 0px;
}

/* desktop */
@media (min-width: 521px) {
  .content {
    display: flex;
    flex-direction: row;
  }

  .main-limit {
    max-width: 95%;
  }

  .show-on-desktop {
    display: inherit;
  }

  .hide-on-desktop {
    display: none;
  }

  h1 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.61em;
    margin-bottom: 0.61em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 600;
    cursor: text;
  }

  h2 {
    display: block;
    font-size: 1.17em;
    margin-top: 0.78em;
    margin-bottom: 0.78em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 580;
    cursor: text;
  }

  h3 {
    display: block;
    font-size: 1.03em;
    margin-top: 0.89em;
    margin-bottom: 0.89em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 560;
    cursor: text;
  }

  h4 {
    display: block;
    font-size: 0.97em;
    margin-top: 1.26em;
    margin-bottom: 1.26em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 540;
    cursor: text;
  }

  h5 {
    display: block;
    font-size: 0.99em;
    font-size: 0.83em;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 520;
    cursor: text;
  }

  h6 {
    display: block;
    font-size: 0.98em;
    font-size: 0.67em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
    cursor: text;
  }

  p {
    display: block;
    font-size: 0.85em;
    margin-top: 0.64em;
    margin-bottom: 0.64em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    cursor: text;
  }

  ul li {
    display: list-item;
    font-size: 0.95em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    cursor: text;
  }
}

/* mobile */
@media only screen and (max-width: 520px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .show-on-desktop {
    display: none;
  }
  .hide-on-desktop {
    display: inherit;
  }

  h1 {
    display: block;
    font-size: 1.275em;
    margin-top: 0.5185em;
    margin-bottom: 0.5185em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 600;
    cursor: text;
  }

  h2 {
    display: block;
    font-size: 0.9945em;
    margin-top: 0.663em;
    margin-bottom: 0.663em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 580;
    cursor: text;
  }

  h3 {
    display: block;
    font-size: 0.8755em;
    margin-top: 0.7565em;
    margin-bottom: 0.7565em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 560;
    cursor: text;
  }

  h4 {
    display: block;
    font-size: 0.8245em;
    margin-top: 1.071em;
    margin-bottom: 1.071em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 540;
    cursor: text;
  }

  h5 {
    display: block;
    font-size: 0.7055em;
    margin-top: 1.36em;
    margin-bottom: 1.36em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 520;
    cursor: text;
  }

  h6 {
    display: block;
    font-size: 0.5695em;
    margin-top: 1.12em;
    margin-bottom: 1.12em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 500;
    cursor: text;
  }

  p {
    display: block;
    font-size: 0.7225em;
    margin-top: 0.544em;
    margin-bottom: 0.544em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    cursor: text;
  }

  ul li {
    display: list-item;
    font-size: 0.9em;
    margin-top: 0.45em;
    margin-bottom: 0.45em;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    cursor: text;
  }
}

.desktop .sidebar-spacer,
.desktop .sidebar {
  width: 150px;
  padding: 20px;
  gap: 20px;
}

.desktop .sidebar {
  position: fixed;
}

.desktop .sidebar * {
  text-decoration: none;
  margin: 0px;
}

.mobile .sidebar .menu-button {
  width: 100%;
  height: 150px;
  padding: 20px;
  gap: 20px;
}

.mobile .sidebar .menu-button button {
  width: 100%;
  height: 100%;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 4px 0;
  font-size: 1em;
}

.menu .title {
  font-weight: 500;
  color: var(--lighter-gray);
  margin-bottom: 2px;
  cursor: default;
}

a {
  cursor: pointer;

  transition: var(--primary-transition);
  color: var(--white);
}

a:hover {
  color: var(--accent-main);
}

a:active {
  color: var(--accent-secondary);
}

.color-black {
  color: var(--black);
}

.color-white {
  color: var(--white);
}

.color-gray {
  color: var(--gray);
}

.color-light-gray {
  color: var(--light-gray);
}

.color-lighter-gray {
  color: var(--lighter-gray);
}

.color-accent-main {
  color: var(--accent-main);
}

.color-accent-secondary {
  color: var(--accent-secondary);
}

hr {
  border: none;
  border-top: 4px solid var(--light-gray);
  border-radius: 25px;
  box-shadow: var(--hr-glow);
  margin: 0px;
  padding: 0px;
  width: 100%;
}

hr.limit {
  max-width: 85%;
}

hr.spacer {
  margin-top: 16px;
  margin-bottom: 16px;
}

.invisible {
  opacity: 0;
}

.spacer-title {
  margin-top: 16px;
}

.menu .lucide {
  transform: translateY(02.5px);
}

.not-selectable {
  cursor: default;
}

/* .pagenav a {
  padding: 4px 0px;
  font-size: 1em;
} */

.pagenav * {
  text-decoration: none;
  padding: 4px 4px;
  font-size: 0.95em;
}

.pagenav .lucide {
  transform: translateY(2px);
  padding: 0px;
  margin: 0px;
}

.stack {
  margin-top: 16px;
}

.stack * {
  padding: 0px;
  margin: 0px;
}

.stack .item {
  max-width: 45%;
  margin-left: 24px;
}

.stack .left,
.right {
  width: 45%;
  /* list-style-type: none; */
  float: left;
}

.posts .title {
  margin: 0px;
  padding: 0px;

  margin-left: 8px;
}

.posts .description {
  margin: 0px;
  padding: 0px;

  margin-left: 24px;
}

code {
  margin: 4px;
  padding: 4px;
}

blockquote {
  border-left: var(--light-gray) 4px solid;
  margin-left: 16px;
  padding-left: 8px;
  color: default;
  transition: var(--primary-transition);

  display: block;
  font-size: 0.85em;
  margin-top: 0.64em;
  margin-bottom: 0.64em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
}

blockquote:hover {
  border-left: var(--lighter-gray) 4px solid;
  background-color: var(--light-gray);
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  background-color: var(--light-gray);
  border-radius: 4px;
  cursor: pointer;
  transition: var(--primary-transition);
  transform: translateY(7px);
}

input[type="checkbox"]:hover {
  background-color: var(--lighter-gray);
}

input[type="checkbox"]:checked {
  background-color: var(--accent-main);
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

input[type="checkbox"]:checked::after {
  display: block;
}

/* Disabled state */
input[type="checkbox"]:disabled {
  background-color: var(--lighter-gray);
  cursor: not-allowed;
}

input[type="checkbox"]:disabled:checked {
  background-color: var(--accent-secondary);
}

input[type="checkbox"]:disabled::after {
  border-color: var(--light-gray);
}

input[type="checkbox"]:checked + * {
  text-decoration: line-through;
  color: var(--lighter-gray);
}

input[type="checkbox"]:disabled:checked + * {
  text-decoration: line-through;
  color: var(--lighter-gray);
}
