:root {
	/* primary colors */
	--black: rgb(9, 8, 9);
	--white: rgb(253, 247, 250);
	--gray: rgb(20, 19, 23);
	--light-gray: rgb(30, 30, 36);
	--lighter-gray: rgb(86, 85, 90);

	/* accent colors */
	--accent-main: rgb(118, 120, 237);
	--accent-secondary: rgb(129, 228, 218);

	/* transitions */
	--primary-transition: all ease-in-out 0.01s;

	/* gradients */
	--accent-gradient: -webkit-linear-gradient(
		65deg,
		var(--accent-main),
		var(--accent-secondary) 75%
	);

	--red-border: solid red 1px;
}

/* * {
  border: solid red 1px;
} */

.border.red {
	border: var(--red-border);
}

html {
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-optical-sizing: auto;
	font-variation-settings: "slnt" 0;
	background: var(--gray);
	/* border: blue 4px solid; */

	margin: 0;
	/* width: 100%; */
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	color: var(--white);
}

.no-spacing {
	margin: 0px;
	padding: 0px;
}

.no-bottom-spacing {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/* desktop */
@media (min-width: 521px) {
	.content {
		display: flex;
		flex-direction: row;
	}

	.main-limit {
		max-width: 95%;
	}

	.show-on-desktop {
		display: inherit;
	}

	.hide-on-desktop {
		display: none;
	}

	h2 {
		display: block;
		font-size: 1.17rem;
		margin-top: 0.78rem;
		margin-bottom: 0.78rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 580;
		cursor: text;
	}

	h3 {
		display: block;
		font-size: 1.03rem;
		margin-top: 0.89rem;
		margin-bottom: 0.89rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 560;
		cursor: text;
	}

	h4 {
		display: block;
		font-size: 0.97rem;
		margin-top: 1.26rem;
		margin-bottom: 1.26rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 540;
		cursor: text;
	}

	h5 {
		display: block;
		font-size: 0.83rem;
		margin-top: 1.6rem;
		margin-bottom: 1.6rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 520;
		cursor: text;
	}

	h6 {
		display: block;
		font-size: 0.67rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 500;
		cursor: text;
	}

	p {
		display: block;
		font-size: 1.05rem;
		margin-top: 0.54rem;
		margin-bottom: 0.54rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 400;
		cursor: text;
	}

	ul li {
		display: list-item;
		font-size: 0.95rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 400;
		cursor: text;
	}

	.stack .item .title {
		display: block;
		font-size: 1rem;
		margin-top: 0.55rem;
		margin-bottom: 0.55rem;
		margin-right: 0;
		margin-left: 8px;
		font-weight: 400;
		cursor: text;
	}
}

/* mobile */
@media only screen and (max-width: 520px) {
	.content {
		display: flex;
		flex-direction: column;
	}

	.show-on-desktop {
		display: none;
	}
	.hide-on-desktop {
		display: inherit;
	}

	h1 {
		display: block;
		font-size: 1.275rem;
		margin-top: 0.5185rem;
		margin-bottom: 0.5185rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 600;
		cursor: text;
	}

	h2 {
		display: block;
		font-size: 0.9945rem;
		margin-top: 0.663rem;
		margin-bottom: 0.663rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 580;
		cursor: text;
	}

	h3 {
		display: block;
		font-size: 0.8755rem;
		margin-top: 0.7565rem;
		margin-bottom: 0.7565rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 560;
		cursor: text;
	}

	h4 {
		display: block;
		font-size: 0.8245rem;
		margin-top: 1.071rem;
		margin-bottom: 1.071rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 540;
		cursor: text;
	}

	h5 {
		display: block;
		font-size: 0.7055rem;
		margin-top: 1.36rem;
		margin-bottom: 1.36rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 520;
		cursor: text;
	}

	h6 {
		display: block;
		font-size: 0.5695rem;
		margin-top: 1.12rem;
		margin-bottom: 1.12rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 500;
		cursor: text;
	}

	p {
		display: block;
		font-size: 0.9225rem;
		margin-top: 0.444rem;
		margin-bottom: 0.444rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 400;
		cursor: text;
	}

	ul li {
		display: list-item;
		font-size: 0.9rem;
		margin-top: 0.45rem;
		margin-bottom: 0.45rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 400;
		cursor: text;
	}

	.stack .item .title {
		display: block;
		font-size: 0.85rem;
		margin-top: 0.725rem;
		margin-bottom: 0.725rem;
		margin-right: 0;
		margin-left: 8px;
		font-weight: 400;
		cursor: text;
	}
}

ul {
	padding: 0;
	list-style: none;
	width: 100%;
}

.pointer {
	cursor: pointer;
}

a {
	cursor: pointer;

	transition: var(--primary-transition);
	color: var(--white);

	text-decoration: none;
}

a:hover {
	color: var(--accent-main);
}

a:active {
	color: var(--accent-secondary);
}

.color-black {
	color: var(--black);
}

.color-white {
	color: var(--white);
}

.color-gray {
	color: var(--gray);
}

.color-light-gray {
	color: var(--light-gray);
}

.color-lighter-gray {
	color: var(--lighter-gray);
}

.color-accent-main {
	color: var(--accent-main);
}

.color-accent-secondary {
	color: var(--accent-secondary);
}

hr {
	border: none;
	border-top: 4px solid var(--light-gray);
	border-radius: 25px;
	box-shadow: var(--hr-glow);
	margin: 0px;
	padding: 0px;
	width: 100%;
}

hr.limit {
	max-width: 85%;
}

hr.spacer {
	margin-top: 16px;
	margin-bottom: 16px;
}

.invisible {
	opacity: 0;
}

.spacer-title {
	margin-top: 16px;
}

.menu .lucide {
	transform: translateY(02.5px);
}

.not-selectable {
	cursor: default;
}

code {
	margin: 0px;
	padding: 0px;
	font-family: "JetBrains Mono", monospace;
}

code * {
	margin: 0px;
	padding: 0px;
}

blockquote {
	border-left: var(--light-gray) 4px solid;
	margin-left: 0px;
	padding-left: -4px;
	color: default;
	transition: all ease-in 0.45s;

	display: block;
	font-size: 0.85rem;
	margin-top: 0.64rem;
	margin-bottom: 0.64rem;
	font-weight: 400;
}

blockquote:hover {
	border-left: var(--lighter-gray) 4px solid;
	background-color: var(--light-gray);
	transition: all ease-out 0.15s;
}

blockquote .push {
	padding-left: 8px;
}

blockquote.full {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 8px;
}

blockquote.nospacing {
	padding: 0px;
	margin: 0px;
}

blockquote.nobottomspacing {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

blockquote.onlybottomspacing {
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
	padding-right: 0px;
}

input[type="checkbox"] {
	appearance: none;
	position: relative;
	width: 24px;
	height: 24px;
	background-color: var(--light-gray);
	border-radius: 4px;
	cursor: pointer;
	transition: var(--primary-transition);
	transform: translateY(7px);
}

input[type="checkbox"]:hover {
	background-color: var(--lighter-gray);
}

input[type="checkbox"]:checked {
	background-color: var(--accent-main);
}

input[type="checkbox"]::after {
	content: "";
	position: absolute;
	top: 6px;
	left: 8px;
	width: 5px;
	height: 10px;
	border: solid var(--white);
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	display: none;
}

input[type="checkbox"]:checked::after {
	display: block;
}

/* Disabled state */
input[type="checkbox"]:disabled {
	background-color: var(--lighter-gray);
	cursor: not-allowed;
}

input[type="checkbox"]:disabled:checked {
	background-color: var(--accent-secondary);
}

input[type="checkbox"]:disabled::after {
	border-color: var(--light-gray);
}

input[type="checkbox"]:checked + * {
	text-decoration: line-through;
	color: var(--lighter-gray);
}

input[type="checkbox"]:disabled:checked + * {
	text-decoration: line-through;
	color: var(--lighter-gray);
}

.indent {
	margin-left: 8px;
}

.thing {
	height: 100%;
	display: flex;
	justify-content: center;
}

.post blockquote {
	padding-left: 8px;
}

.thing .blogcenter .links {
	gap: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	color: var(--lighter-gray);
}

@media (min-width: 831px) {
	.thing .quotecenter {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		min-width: 25%;
		max-width: 35%;
	}

	.thing .blogcenter {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		min-width: 55%;
		max-width: 65%;
	}

	.post {
		padding-top: 64px;
	}
}

@media (min-width: 561px) and (max-width: 830px) {
	.thing .quotecenter {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		min-width: 75%;
		max-width: 85%;
	}

	.thing .blogcenter {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		min-width: 75%;
		max-width: 85%;
	}

	.post {
		padding-top: 32px;
	}
}

@media only screen and (max-width: 560px) {
	.thing .quotecenter {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		min-width: 95%;
		max-width: 95%;
	}

	.thing .blogcenter {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		min-width: 90%;
		max-width: 95%;
	}

	.post {
		padding-top: 16px;
	}
}

/* biome-ignore lint/style/noDescendingSpecificity: shhhh */
.title {
	color: var(--white);
	display: block;
	margin-top: 0.61rem;
	margin-bottom: 0.61rem;
	margin-left: 2px;
	margin-right: 4px;
	cursor: text;
}

.thing .usertitle {
	display: flex;
	align-items: center;
	color: var(--lighter-gray);
	gap: 8px;
}

.thing .usertitle img {
	width: 24px;
	height: 24px;
}

.thing .usertitle h1 {
	display: block;
	font-size: 1.25rem;
	margin-top: 0.56rem;
	margin-bottom: 0.56rem;
	margin-left: 0;
	margin-right: 0;
	font-weight: 600;
	cursor: text;
}

.disabled {
	cursor: no-drop;

	transition: var(--primary-transition);
	color: var(--white);

	text-decoration: underline;
}

.inline-children * {
	display: inline;
}
