---
import { ContentType } from "../../lib/types";

import ProjectsContentDisplayer from "./projects/ProjectsContentDisplayer.astro";
import SongsContentDisplayer from "./songs/SongsContentDisplayer.astro";
import UsesContentDisplayer from "./uses/UsesContentDisplayer.astro";

interface Props {
  contentType: ContentType;
  showSeperators: boolean;
}

const { contentType, showSeperators } = Astro.props;
---

<section>
  {
    contentType == ContentType.Projects && (
      <ProjectsContentDisplayer showSeperators={showSeperators} />
    )
  }
  {
    contentType == ContentType.Songs && (
      <SongsContentDisplayer showSeperators={showSeperators} />
    )
  }
  {
    contentType == ContentType.Uses && (
      <UsesContentDisplayer showSeperators={showSeperators} />
    )
  }
</section>
