---
import { getCurrentAge } from "../../lib/utils.ts";
---

<div class="index-callout">
  <h2 class="index-callout-main">
    Hello 👋 I'm <span class="text-gradient">Copper</span>
  </h2>
  <h4 class="index-callout-sub color-gray-light">
    I'm a {getCurrentAge()} year old developer from America.
  </h4>
</div>
