---
import Layout from "../../layouts/AppSectionLayout.astro";

import IndexCallout from "../../components/IndexPage/IndexCallout.astro";
---

<Layout title="home">

  <IndexCallout>
    <span slot="main">
      main
    </span>
    <span slot="sub">
      sub
    </span>
  </IndexCallout>
</Layout>
