---
import Layout from "../../layouts/AppSectionLayout.astro";

import IndexCallout from "../../components/IndexPage/IndexCallout.astro";
---

<Layout title="home">
  <IndexCallout>
    <span slot="main">
      copper devs apps <span class="text-gradient">projects</span> 🛠️
    </span>
    <span slot="sub"> wip section of the site :p </span>
  </IndexCallout>
</Layout>
