---
import Divider from "../../../common-astro/components/Divider.astro";
import NavBarHeaderLink from "../Navigation/NavBarHeaderLink.astro";
import SocialIcon from "../Icons/SocialIcon.astro";
import FontAwesomeIcon from "../../../common-astro/components/FontAwesomeIcon.astro";

interface Props {
  active: string;
}
---

<div class="navbar show-on-desktop hide-on-mobile">
  <div class="navbar-links">
    <slot />
    <span style="display: inline-block">
      <NavBarHeaderLink name="home" href="/" />
    </span>
    <span style="display: inline-block">
      <NavBarHeaderLink name="projects" href="/projects" />
    </span>
  </div>

  <div class="navbar-socials">
    <h2>
      <SocialIcon social="discord" />
      <Divider />
      <SocialIcon social="youtube" />
      <Divider />
      <SocialIcon social="github" />
      <Divider />
      <SocialIcon social="twitch" />
    </h2>
  </div>
</div>

<div class="navbar show-on-mobile hide-on-desktop top-right">
  <span onclick="openNav()">
    <FontAwesomeIcon iconName="fa-solid fa-bars" />
  </span>

  <div id="myNav" class="overlay">
    <span class="closebtn top-right" onclick="closeNav()">
      <FontAwesomeIcon iconName="fa-solid fa-x" />
    </span>

    <div class="overlay-content">
      <NavBarHeaderLink name="home" href="/" />
      <NavBarHeaderLink name="projects" href="/projects" />

      <Divider />

      <div>
        <span style="display:inline-block;">
          <SocialIcon social="discord" />
        </span>
        <span style="display:inline-block;">
          <SocialIcon social="youtube" />
        </span>
        <span style="display:inline-block;">
          <SocialIcon social="github" />
        </span>
        <span style="display:inline-block;">
          <SocialIcon social="twitch" />
        </span>
      </div>
    </div>

    <script is:inline>
      function openNav() {
        document.getElementById("myNav").style.width = "100%";
      }

      function closeNav() {
        document.getElementById("myNav").style.width = "0%";
      }
    </script>
  </div>
</div>
