---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="copperdevs"
  description="unknown page of my personal site :p"
  pageTitle="404"
>
  <h1>site v2 - 404</h1>
</PageLayout>
