---
import Blockquote from "../components/Blockquote.astro";
import BlockquoteLink from "../components/BlockquoteLink.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="home" description="home page of my random stuff">
  <div class="thing">
    <div class="quotecenter">
      <Blockquote full={true}>
        <h1 class="title">404 :(</h1>
      </Blockquote>

      <hr />

      <BlockquoteLink href="/"> Home </BlockquoteLink>
    </div>
  </div>
</BaseLayout>
