---
import RandomText from "../../common-astro/components/RandomText.astro";
import NavBar from "../components/Navigation/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <NavBar active="404" />

  <div class="index-callout">
    <h2 class="index-callout-main">
      Woopsies! <span class="text-gradient">404</span>
    </h2>
    <h4 class="index-callout-sub color-gray-light">
      <RandomText
        options={[
          "Hmm.. the page you're looking for couldn't be found",
          "Woopsies :p dropped the page you were looking for",
          "yo what page are you looking for? cause i cant find it :p",
        ]}
      />
    </h4>
  </div>
</Layout>
