---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="copperdevs" description="stuff" pageTitle="blog">
  <p>
    i might maybe perchance write stuff and put it here (this is probally gonna
    get removed)
  </p>
</BaseLayout>
