---
import { Icon } from "../components/icons/Icons.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="content"
  description="stuff"
  pageLinks={[
    ["Movies", "#", Icon.Clapperboard],
    ["Shows", "#", Icon.TvMinimalPlay],
    ["Videos", "#", Icon.Youtube],
    ["Musicals", "#", Icon.Theater],
    ["Music Videos", "#", Icon.BoomBox],
    ["Books", "#", Icon.Book],
  ]}
>
  <p>ima put stuff like my watch lists and my reading list here eventually</p>
</BaseLayout>
