---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="copperdevs" description="stuff" pageTitle="content">
  <p>ima put stuff like my watch lists and my reading list here eventually</p>
</BaseLayout>
