---
import BaseLayout from "../layouts/BaseLayout.astro";
import favicon from "../assets/favicon.png";
---

<BaseLayout pageTitle="home" description="home page of my random stuff">
  <div class="thing">
    <div class="thing2">
      <blockquote class="full">
        <div class="usertitle">
          <img src={favicon.src} alt="Havanese Dog" />
          <h1><a href="https://github.com/copperdevs">copperdevs</a></h1>
        </div>

        <div>
          <h1 class="title">lowkey what do i put here</h1>
        </div>
      </blockquote>

      <blockquote class="full">
        <div class="usertitle">
          <h1><a href="projects">projects</a></h1>
        </div>
      </blockquote>
    </div>
  </div>
</BaseLayout>
