---
import NavBar from "../components/NavBar.astro";
import RandomProjects from "../components/RandomProjects.jsx";
import Layout from "../layouts/Layout.astro";

import { getCurrentAge } from "../lib/utils";
---

<Layout title="home">
  <NavBar active="home" />

  <div class="index-callout">
    <h2 class="index-callout-main">
      Hello 👋 I'm <span class="text-gradient">Copper</span>
    </h2>
    <h4 class="index-callout-sub color-gray-light">
      I'm a {getCurrentAge()} year old developer from America.
    </h4>
  </div>

  <div>
    <h3 class="index-projects-header index-projects-spacing">
      Projects - <a href="/projects">View All</a>
    </h3>
    <hr />
    <RandomProjects amount={3} showCategoryIcon={false} client:load />
  </div>
</Layout>
