---
import NavBar from "../components/NavBar.astro";
import RandomProject from "../components/RandomProject.astro";
import Layout from "../layouts/Layout.astro";

import { getCurrentAge } from "../lib/utils";
---

<Layout title="home">
  <NavBar active="home" />

  <div class="index-callout">
    <h2 class="index-callout-main">
      Hello 👋 I'm <span class="text-gradient">Copper</span>
    </h2>
    <h4 class="index-callout-sub">
      I'm a {getCurrentAge()} year old developer from America.
    </h4>
  </div>

  <hr />

  <div>
    <h3>Projects - <a href="/projects">View All</a></h3>
    <RandomProject amount={3} astro:before-preparation />
  </div>
</Layout>
