---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="home" description="home page of my random stuff">
  <p>hey im copper</p>

  <hr class="spacer invisible" />

  <blockquote>lowkey what do i put here</blockquote>

  <hr class="spacer invisible" />

  <p>but yeah everything here is still a work in progress!</p>
</BaseLayout>
