---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="personal site">
  <main>
    <h1>
      coming <span class="text-gradient">soon</span>
    </h1>
  </main>
</Layout>
