---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="copperdevs"
  description="home page of my personal site"
  pageTitle="home"
>
  <h1>
    <span class="text-gradient">site v2</span>
  </h1>
</PageLayout>
