---
import { CurrentSection } from "../components/current-section";
import { SectionLink } from "../components/section-link";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="home" description="home page of my random stuff">
  <p>copper // escape will make me god</p>
  <CurrentSection client:load />
  <div class="close">
    <SectionLink section="socials" client:load />
    <SectionLink section="projects" client:load />
  </div>
</BaseLayout>
