---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="copperdevs" description="stuff" pageTitle="home">
  <h1>hello world h1</h1>
  <h2>hello world h2</h2>
  <h3>hello world h3</h3>
  <h4>hello world h4</h4>
  <h5>hello world h5</h5>
  <h6>hello world h6</h6>
  <p>hello world p</p>
  <span>hello world span</span>
  <h1>hello world h1</h1>
  <h2>hello world h2</h2>
  <h3>hello world h3</h3>
  <h4>hello world h4</h4>
  <h5>hello world h5</h5>
  <h6>hello world h6</h6>
  <p>hello world p</p>
  <span>hello world span</span>
  <h1>hello world h1</h1>
  <h2>hello world h2</h2>
  <h3>hello world h3</h3>
  <h4>hello world h4</h4>
  <h5>hello world h5</h5>
  <h6>hello world h6</h6>
  <p>hello world p</p>
  <span>hello world span</span>
</BaseLayout>
