---
import DynamicDogPicture from "../components/ui/DynamicDogPicture.tsx";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
  title="copperdevs"
  description="home page of my personal site"
  pageTitle="home"
>
  <div class="callout">
    <h1 class="header no-spacing">
      <span class="text-gradient">copperdevs</span>
      <DynamicDogPicture />
    </h1>
    <h3 class="sub-header no-spacing">
      I'm a 16 year old developer from America.
    </h3>
  </div>
</PageLayout>
