---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="home" description="home page of my random stuff">
  <p>copper // escape will make me god</p>
  <div class="close">
    <a href="javascript"><p>socials</p></a>
    <a href="javascript"><p>projects</p></a>
  </div>
</BaseLayout>
