---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="home">
  <NavBar active="home" />

  <div>
    <h1 style="display: inline-block">hey im <span class="text-gradient">copper</span></h1>
    <h2 style="display: inline-block">i do stuff</h2>
  </div>
</Layout>
