---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="music" description="yummy music">
  <p>music data stats stuff pulled from like last.fm or stats.fm probally</p>
</BaseLayout>
