---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="photos" description="stuff">
  <p>ima put cool pictures ive taken here at some point</p>
  <p class="indent">
    <em>once i take them bro</em>
  </p>
</BaseLayout>
