---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="copperdevs" description="stuff" pageTitle="photos">
  <p>ima put cool pictures ive taken here at some point</p>
</BaseLayout>
