---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="posts" description="stuff">
  <p>
    i might maybe perchance write stuff and put it here (this is probally gonna
    get removed)
  </p>
</BaseLayout>
