---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="copperdevs" description="stuff" pageTitle="projects">
  <p>this is where ima showcase some projects ive made eventually</p>
</BaseLayout>
