---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="projects" description="stuff">
  <p>this is where ima showcase some projects ive made eventually</p>
</BaseLayout>
