---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="socials">
  <NavBar active="socials" />
  <a href="https://github.com/copperdevs">github</a>
  <br>
  <a href="https://www.youtube.com/channel/UCySWaUpLfNj6oMIN4lyjhpQ">youtube</a>
</Layout>
