---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="copperdevs" description="stuff" pageTitle="stack">
  <p>
    gonna put the hardware, software, and anything inbetween that i use here
  </p>
</BaseLayout>
