---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="stack" description="stuff">
  <p>
    gonna put the hardware, software, and anything inbetween that i use here
  </p>
</BaseLayout>
