---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import { StackType } from "../lib/enums";

const stack = await getCollection("stack");

const softwareStack = stack.filter(
  (stack) => stack.data.type === StackType.Software
);

const hardwareStack = stack.filter(
  (stack) => stack.data.type === StackType.Hardware
);
---

<BaseLayout pageTitle="stack" description="stuff">
  <div class="stack">
    <ul class="software">
      <h2>Software</h2>
      {
        softwareStack.map((stackItem) => (
          <li class="item">
            <p>{stackItem.data.name}</p>
          </li>
        ))
      }
    </ul>
    <ul class="hardware">
      <h2>Hardware</h2>
      {
        hardwareStack.map((stackItem) => (
          <li class="item">
            <p>{stackItem.data.name}</p>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
