---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="testing" description="testing crap moment">
  <h1>test</h1>
  <h1 class="show-on-desktop">desktop</h1>
  <h1 class="hide-on-desktop">mobile</h1>
</BaseLayout>
