---
import BaseLayout from "../layouts/BaseLayout.astro";
import StackSection from "../components/StackSection.astro";
import { StackType } from "../lib/enums";
---

<BaseLayout pageTitle="stack" description="stuff">
  <div class="stack">
    <StackSection type={StackType.Software} />
    <StackSection type={StackType.Langauge} />
    <StackSection type={StackType.Hardware} />
  </div>
</BaseLayout>
