---
interface Props {
  full: boolean;
  noSpacing?: boolean;
  noBottomSpacing?: boolean;
}

const {
  full = false,
  noSpacing = false,
  noBottomSpacing = false,
} = Astro.props;
---

<blockquote
  class={`${full ? "full" : ""} ${noSpacing ? "nospacing" : ""} ${noBottomSpacing ? "nobottomspacing" : ""}`}
>
  <div class="push">
    <slot />
  </div>
</blockquote>
