---
interface Props {
  href: string;
  noSpacing?: boolean;
  noBottomSpacing?: boolean;
}
const { href, noSpacing = false, noBottomSpacing = false } = Astro.props;

import Blockquote from "./Blockquote.astro";
---

<Blockquote full={true} noSpacing={noSpacing} noBottomSpacing={noBottomSpacing}>
  <div class="usertitle">
    <h1>
      <a href={href}><slot /> </a>
    </h1>
  </div>
</Blockquote>
