---
import ProjectItem from "./ProjectItem.astro";

interface Props {
  projects: object[];
}

const { projects } = Astro.props;
---

<section>
  {
    projects.map(
      (
        project: {
          data: {
            title: string;
            description: string;
            link: string;
            source: string;
          };
        },
        index: number
      ) => (
        <>
          <ProjectItem
            title={project.data.title}
            description={project.data.description}
            url={project.data.link}
            source={project.data.source}
          />
          {index < projects.length - 1 && <hr />}
          {!(index < projects.length - 1) && (<br /><br />)}
        </>
      )
    )
  }
</section>
