---
import ExternalLink from "./icons/ExternalLink.astro";

interface Props {
  url: string;
  type?: LinkType;
  disableActive?: boolean;
}

export enum LinkType {
  Default = "_self",
  Blank = "_blank",
  Parent = "_parent",
  Top = "_top",
}

const { url, type = LinkType.Default, disableActive = false } = Astro.props;

const currentPath = Astro.url.pathname;

const currentIsUrl = currentPath === url;
---

{
  currentIsUrl && disableActive && (
    <p class="no-spacing color-lighter-gray">
      <slot />
      {!url.startsWith("/") && <ExternalLink />}
    </p>
  )
}

{
  (!disableActive || !currentIsUrl) && (
    <a href={url} target={type} rel="noopener noreferrer">
      <slot />
      {!url.startsWith("/") && <ExternalLink />}
    </a>
  )
}
