---
import NavBarHeaderLink from './NavBarHeaderLink.astro';

interface Props {
  active: string;
}

const { active } = Astro.props;
---

<div>
  <slot />
  <NavBarHeaderLink name="home" href="/" active={active} />
  <NavBarHeaderLink name="socials" href="/socials" active={active} />
  <NavBarHeaderLink name="projects" href="/projects" active={active} />
</div>
