---
interface Props {
  title: string;
  description: string;
  url: string;
  source: string;
}

const { title, description, url, source } = Astro.props;
---

<div class="project-item">
  <h3 class="project-item-header">
    <a href={url}>
      <span class="text-gradient">{title}</span>
    </a>

    {
      !(url === source) && (
        <a href={source}>
          {" "}
          <i class="fa-brands fa-github" />{" "}
        </a>
      )
    }
  </h3>

  <h5 class="project-item-paragraph">
    <span>{description}</span>
  </h5>
</div>
