---
import GithubIcon from "./icons/GithubIcon.astro";

interface Props {
  title: string;
  description: string;
  slug: string;
  source: string;
}

const { title, description, slug, source } = Astro.props;
---

<div class="project-item">
  <h3 class="project-item-header">
    <a href={`/projects/${slug}/`}>
      <span class="text-gradient">{title}</span>
    </a>

    <a href={source}>
      <GithubIcon
        title="GitHub"
        class="github-icon"
        aria-label="Website source"
      />
    </a>
  </h3>

  <h5 class="project-item-paragraph">
    <span>{description}</span>
  </h5>
</div>
