---
interface Props {
  social: string;
}

const { social } = Astro.props;

const icons = {
  discord: "fa-brands fa-discord",
  youtube: "fa-brands fa-youtube",
  github: "fa-brands fa-github",
  twitch: "fa-brands fa-twitch",
};

const urls = {
  discord: "https://discord.com/users/781660039537623080/",
  youtube: "https://www.youtube.com/channel/UCySWaUpLfNj6oMIN4lyjhpQ",
  github: "https://github.com/copperdevs",
  twitch: "https://www.twitch.tv/copperdevs",
};
---

<a href={urls[social]} target="_blank">
  {icons[social] && <i class={icons[social]} />}
</a>
