---
import { getCollection } from "astro:content";
import { StackType } from "../lib/enums";
import { capitalizeFirstLetter } from "../lib/util";

interface Props {
  type: StackType;
}

const { type } = Astro.props;

const stack = await getCollection("stack");

const data = stack.filter((stack) => stack.data.type === type);

const itemsFound = data.length > 0;
---

{
  itemsFound && (
    <div>
      <h2>{capitalizeFirstLetter(type.toString())}</h2>
      <ul>
        {data.map((stackItem) => (
          <li>
            <blockquote class="item">
              <p class="title">{stackItem.data.name}</p>
            </blockquote>
          </li>
        ))}
      </ul>
    </div>
  )
}
