---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import NavBar from "../../components/NavBar.astro";

export async function getStaticPaths() {
  const posts = await getCollection("projects");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"projects">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <NavBar active="none">
    <h2 style="display: inline-block">
      <a href={post.data.source}>{post.data.title}</a>
    </h2>
  </NavBar>
  <Content />
</Layout>
