---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";

import { getCollection } from "astro:content";
import NavBar from "../../components/NavBar.astro";
import ProjectItem from "../../components/ProjectItem.astro";

const posts = await getCollection("projects");
---

<Layout title="projects">
  <NavBar active="projects" />

  <section>
    {
      posts.map(
        (post) =>
          !post.data.hidden && (
            <ProjectItem
              title={post.data.title}
              description={post.data.description}
              slug={post.slug}
              source={post.data.source}
            />
          )
      )
    }
  </section>
</Layout>
