---
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";

import { getCollection } from "astro:content";
import NavBar from "../../components/NavBar.astro";

const posts = await getCollection("projects");
---

<Layout title="projects">
  <NavBar active="projects" />

  <section>
    {
      posts.map(
        (post) =>
          !post.data.hidden && (
            <a href={`/projects/${post.slug}/`}>
              <h4 transition:animate="fade">
                <span class="text-gradient">{post.data.title}</span>
              </h4>
            </a>
          )
      )
    }
  </section>
</Layout>
