---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
import NavBar from "../../components/NavBar.astro";
import ProjectItem from "../../components/ProjectItem.astro";

const posts = await getCollection("projects");
const visiblePosts = posts.filter((post) => !post.data.hidden);
---

<Layout title="projects">
  <NavBar active="projects" />

  <section>
    {
      visiblePosts.map((post, index) => (
        <>
          <ProjectItem
            title={post.data.title}
            description={post.data.description}
            slug={post.slug}
            source={post.data.source}
          />
          {index < visiblePosts.length - 1 && <hr />}
        </>
      ))
    }
  </section>
</Layout>
