---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import FormattedDate from "../../components/FormattedDate.astro";

const contents = await getCollection("content");
---

<BaseLayout pageTitle="content" description="stuff">
  <p><em>Last updated <FormattedDate date={new Date(2024, 11, 4)} /></em></p>
  <ul class="posts">
    {
      contents.map((content) => (
        <li class="title">
          <a href={content.slug}>{content.data.name}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
