---
import Layout from "../../layouts/WebsiteSectionLayout.astro";

import IndexCallout from "../../components/IndexPage/IndexCallout.astro";
---

<Layout title="home">
  <IndexCallout>
    <span slot="main">
      copper devs <span class="text-gradient">websites</span>
    </span>
    <span slot="sub"> I make websites and stuff </span>
  </IndexCallout>
</Layout>
