---
import FontAwesomeIcon from "./FontAwesomeIcon.astro";
---

<div class="socials" astro:before-preparation>
  <FontAwesomeIcon
    iconName="fa-brands fa-discord"
    targetUrl="https://discord.com/users/781660039537623080"
    title="@copperdev"
  />
  <FontAwesomeIcon
    iconName="fa-brands fa-github"
    targetUrl="https://github.com/copperdevs"
    title="@copperdevs"
  />
  <FontAwesomeIcon
    iconName="fa-brands fa-youtube"
    targetUrl="https://www.youtube.com/channel/UCySWaUpLfNj6oMIN4lyjhpQ"
    title="@copperdevs"
  />
  <FontAwesomeIcon
    iconName="fa-brands fa-twitter"
    targetUrl="https://x.com/copperdevs"
    title="@copperdevs"
  />
</div>
