---
import { IconType } from "../../lib/types";
import SocialIcon from "./SocialIcon.astro";
---

<div class="socials" astro:before-preparation>
  <SocialIcon iconType={IconType.Discord} iconLink="#" />
  <SocialIcon iconType={IconType.Github} iconLink="#" />
  <SocialIcon iconType={IconType.Youtube} iconLink="#" />
  <SocialIcon iconType={IconType.Twitter} iconLink="#" />
</div>
