:root {
	/* primary colors */
	--black: rgb(9, 8, 9);
	--white: rgb(253, 247, 250);
	--gray: rgb(20, 19, 23);
	--light-gray: rgb(30, 30, 36);
	--lighter-gray: rgb(86, 85, 90);

	--rich-mahogany: #391d1dff;
	--espresso: #4f2318ff;
	--rusty-spice: #a54122ff;
	--burnt-rose: #8e4847ff;
	--ash-grey: #bbc6c0ff;
	--honeydew: #f5feedff;
	--celadon: #bee7beff;
	--seagrass: #609a86ff;
}

@font-face {
	font-family: OfficeCodePro;
	src: url("/fonts/officecodepro-regular.otf") format("opentype");
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

html,
body {
	color: var(--gray);
	background: var(--honeydew);
	@media (prefers-color-scheme: dark) {
		color: var(--honeydew);
		background: var(--gray);
	}

	font-family: OfficeCodePro, monospace;

	font-optical-sizing: auto;
	font-variation-settings: "slnt" 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	cursor: pointer;

	color: var(--white);

	text-decoration: none;
}

a:link {
	color: var(--celadon);
}

a:visited {
	color: var(--seagrass);
}

a:hover {
	color: var(--celadon);
	text-decoration: underline;
}

a:active {
	color: var(--burnt-rose);
}

div.close p {
	margin: 2px 0px 2px 0px;
}

p.close {
	margin: 2px 0px 2px 0px;
}

.toppad {
	padding-top: 8px;
}

.subsection {
	position: absolute;
	left: 128px; /* TODO: make this dynamic depending on the text maybe? */
}

a.underlined {
	text-decoration: underline;
}

.cursor.default {
	cursor: default;
}

ul.content {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.content li {
	margin: 4px;
}

/* .main .header {
	margin-bottom: 4px;
}

.main .sub {
	margin-top: 4px;
} */

.link-external {
	height: 15px;
	width: 15px;
}
