---
interface Props {
  pageTitle: string;
  description: string;
}

const { description, pageTitle } = Astro.props;

import { ClientRouter } from "astro:transitions";

import LinkRedirect from "../components/LinkRedirect.astro";

import Style from "../components/Style.astro";

import favicon from "../assets/favicon.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/x-icon" href={favicon.src} />
    <title>{pageTitle} // copperdevs</title>

    <Style />

    <ClientRouter />
  </head>

  <LinkRedirect badUrls={["copperdevs.pages.dev"]} targetUrl="copperdevs.com" />
  <LinkRedirect
    badUrls={["v4.copperdevs.pages.dev"]}
    targetUrl="v4.copperdevs.com"
  />

  <body>
    <slot />
  </body>
</html>
