---
type Props = {
  pageTitle: string;
  description: string;
};

const { description, pageTitle } = Astro.props;

import { ClientRouter } from "astro:transitions";
import favicon from "../assets/favicon.png";

import "../styles/style.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/x-icon" href={favicon.src} />
    <title>{pageTitle} // copperdevs</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&family=Rubik:wght@300..900&display=swap"
      rel="stylesheet"
    />

    <ClientRouter />
  </head>

  <body>
    <slot />
  </body>
</html>
