---
interface Props {
  title: string;
}

const { title } = Astro.props;

import { ViewTransitions } from "astro:transitions";
import "../../common-astro/style/style.css";
import FontAwesome from "../../common-astro/components/FontAwesome.astro";
import LinkRedirect from "../../common-astro/components/LinkRedirect.astro";
import Footer from "../components/Ui/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="my funny personal site for me to put crap on :3"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | copperdevs site</title>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="bc408a92-1357-4f9b-86ad-5f608ff9e04d"></script>
    <ViewTransitions />
    <FontAwesome projectId="45b7384014" />
  </head>
  <body>
    <div class="content">
      <main>
        <LinkRedirect
          badUrls={["copperdevs.pages.dev"]}
          targetUrl="copperdevs.com"
        />
        <slot />
      </main>
    </div>
    <div class="footer">
      <Footer />
    </div>
  </body>
</html>
