---
interface Props {
  title: string;
  description: string;
  pageTitle: string;
}

const { title, description, pageTitle } = Astro.props;

import { ViewTransitions } from "astro:transitions";
import FontAwesome from "../components/icons/FontAwesome.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} // {title}</title>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="bc408a92-1357-4f9b-86ad-5f608ff9e04d"></script>
    <ViewTransitions />
    <FontAwesome projectId="45b7384014" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
