---
import type { ContentType } from "../../lib/types";

interface Props {
  sectionTitle: string;
  sectionId: string;
}

const { sectionTitle, sectionId } = Astro.props;
---

<div>
  <div class="callout">
    <h2 class="smaller-header no-spacing" id=`${sectionId}-header`>
      {sectionTitle}
    </h2>
    <div id={sectionId}>
      <hr class="no-spacing limit-center" />
      <slot />
    </div>
  </div>
</div>
